version: "3.5"

networks:
  proxy:
    external: true
  default:
    driver: bridge

services:

  # COMPOSER == RUN in APP dir
  #  docker run --rm --interactive --tty \
  #  --volume $PWD:/app \
  #  --user $(id -u):$(id -g) \
  #  composer install

  #node is enabled in build file
  web:
    build: docker/php
    restart: always
    container_name: web_server
    volumes:
    - ./app:/var/www/html
    - ./config/php/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
    expose:
    - 80
    - 443
    environment:
      VIRTUAL_HOST: {{HOST}}.traefik.localhost,www.{{HOST}}.traefik.localhost
      PHP_DEBBUGER: xdebug
      APACHE_DOCUMENT_ROOT: /var/www/html/public
    labels:
    - "traefik.frontend.rule=Host:{{HOST}}.traefik.localhost"
    - "traefik.docker.network=proxy"
    networks:
    - proxy
    - default
    depends_on:
    - mysql

  mysql:
    image: mysql:8.0
    container_name: db
    ports:
    - 13333:3306
    volumes:
    - ./config/mysql/conf.cnf:/etc/mysql/conf.d/custom.cnf:ro
    - ./data/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: {{HOST}}
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    expose:
    - 3306
    networks:
    - default
    labels:
    - "traefik.enabled=true"