version: "3.5"

networks:
  proxy:
    external: true
  default:
    driver: bridge

services:
  web:
    build: docker/php
    restart: always
    container_name: php
    volumes:
    - ./app:/var/www/html
    - ./config/php/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
    expose:
    - 80
    - 443
    environment:
      VIRTUAL_HOST: {{HOST}}.traefik.localhost,www.{{HOST}}.traefik.localhost
      PHP_DEBBUGER: xdebug
      APACHE_DOCUMENT_ROOT: /var/www/html/public
    labels:
    - "traefik.frontend.rule=Host:{{HOST}}.traefik.localhost"
    - "traefik.docker.network=proxy"
    networks:
    - proxy
    - default
    depends_on:
    - mysql

#  mysql:
#    image: mysql:8.0
#    container_name: db
#    ports:
#    - 13333:3306
#    volumes:
#    - ./config/mysql/conf.cnf:/etc/mysql/conf.d/custom.cnf:ro
#    - ./data/mysql:/var/lib/mysql
#    environment:
#      MYSQL_ROOT_PASSWORD: root
#      MYSQL_DATABASE: {{HOST}}
#      MYSQL_USER: user
#      MYSQL_PASSWORD: pass
#    expose:
#    - 3306
#    networks:
#    - default
#    labels:
#    - "traefik.enabled=true"

### PHP with node - @TODO: same version as php but with node build command

#  node:
#    container_name: node
#    build:
#      context: .
#      dockerfile: ./Dockerfile
#    volumes:
#      - '.:/usr/src/app'
#      - '/usr/src/app/node_modules'
#    ports:
#      - '80:3000'
#    expose:
#      - "80"
#    environment:
#      - NODE_ENV=dev
#    labels:
#      - "traefik.docker.network=proxy"
#    networks:
#      - proxy
#      - default

#  srv_selenium:
#    container_name: srv_selenium
#    image: selenium/standalone-chrome-debug:3.11.0-californium
#    ports:
#      - "4444:4444"
#      - "5900:5900"
#    networks:
#      srv:
#        ipv4_address: 172.16.232.15
#    extra_hosts:
#      - localmachine.pl:172.16.232.10
#      - grzegab.localmachine.pl:172.16.232.10
#      - camping.localmachine.pl:172.16.232.10
#      - zdalni.localmachine.pl:172.16.232.10
#    links:
#      - srv_mysql
#      - srv_php

#  redis:
#    image: redis:alpine
#    networks:
#      - default
#    labels:
#      - "traefik.enabled=false"